.form__error-message {
  margin-top: 3px;
  margin-bottom: 3px;
  display: inline-block;
  min-height: 30px;
  opacity: 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: rgb(255 0 0);
  background-color: transparent;
  transition: opacity 0.3s ease-in-out;
}

.form__error-message ~ .form__error-message {
  margin-bottom: 0;
}
