.profile__info {
  margin-top: 26px;
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  gap: 9px;
}

@media screen and (min-width: 576px) {
  .profile__info {
    margin-top: 0;
    justify-content: start;
    flex-grow: 1;
    gap: 19px;
  }
}

