.page-header__info {
  display: none;
}

@media screen and (min-width: 640px) {
  .page-header__info {
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 24px;
  }
}
